@{ 
    int statusCode = Response.StatusCode;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <hgroup>
        <h1>Internal Server Error</h1>


        @switch (statusCode)
        {
            case 400:
                <h1>400 Bad Request</h1>
                break;
            case 401:
                <h1>401 Unauthorized</h1>
                break;
            case 403:
                <h1>403 Forbidden</h1>
                break;
            case 404:
                <h1>404 Page Not Found</h1>
                break;
            case 500:
                <h1>500 Internal Server Error</h1>
                break;
            default:
                <h1>Server Error</h1>
                break;
        }

    </hgroup>
</body>
</html>
