
@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="@Url.Content("~/Resource/css/login.css")">

<div class="login-box">
    <div class="login-logo">
        <img src="~/Resource/images/mw_logo.png" alt="Marineworks">
        <h2 style="color:white">My Fleet Monitoring</h2>
        @*<h2 style="color:white">Marineworks</h2>
            <h2 style="color:white">Fleet Monitoring</h2>*@
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "Login_Form", @class = "r_con" }))
        {
            <div class="form-group has-feedback">
                <input type="text" name="txtID" id="txtID" class="form-control" placeholder="ID" maxlength="20">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="txtPwd" id="txtPwd" class="form-control" placeholder="Password" maxlength="100">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        }
        <!-- Dev : btn_area 클래스 추가 200706 -->
        <div class="row btn_area">
            <div class="col-xs-12" style="text-align: center;">
                <!-- Dev : div 삭제 (라인요소) -->
                <!--<div style="margin-top: 10px; padding-bottom:25px; border-top: 1px #000 solid;"></div>-->
                @*<button type="submit" class="btn btn-primary btn-block btn-flat" style="height:50px;" onclick="LoginSubmitted()">Sign In</button>*@
                <input type="button" class="btn btn-primary btn-block btn-flat" id="btnLogin" onclick="LoginSubmitted();" value="Sign In" />
            </div>
            <!-- /.col -->
        </div>
        <br />
        <footer>
            <p class="copyright" style="text-align:center; font-size: 12px">Copyright 2020 marineworks All rights reserved.</p>
        </footer>
    </div>
    <!-- /.login-box-body -->
</div>